.activity
  .activity__header
    .activity__avatar
      = link_to_modifier(entry) do
        = avatar_for entry.modifier
    %h3.activity__name= link_to_modifier(entry)
    %p.activity__time= activity_time(entry.created_at)
  .activity__message
    - if entry.audited.blank?
      - name = t('workarea.payment_gift_card.name', token: entry.token)
    - else
      - name = link_to(entry.audited.name, payment_gift_card_path(entry.audited))

    = t('workarea.admin.activities.payment_gift_card_update_html', fields: fields_clause_for(entry.tracked_changes), name: name)
